@keyframes arrow_down_colorswitch {
    0%   {filter: invert(0);}
    100% {filter: invert(100%);}
  }

  .arrow_down_animation{
    animation: arrow_down_colorswitch 5s linear 5s infinite alternate;
}

@keyframes rotating {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(1turn);
	}
}

.img-webdevelopment:hover {
	animation: rotating 4s linear infinite;
}

.arrow_down_animation {
	position:fixed;
	left:50%;
	bottom:30px;
	margin-top:-25px;
	margin-left:-25px;
	height:50px;
	width:50px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	animation:bounce 1s infinite;
	z-index: 999;
	font-size: 50px;
	filter: invert();
	background-color: whitesmoke;
}
@keyframes bounce {
	0%       { bottom:25px; }
	25%, 75% { bottom:35px; }
	50%      { bottom:40px; }
	100%     { bottom:20px; }
}